@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
  font-family: 'Bebas Neue', cursive;
  background-color: #fcff36;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 9rem;
}
